*{
    margin: 0;
    box-sizing: border-box;
}

body{
    --bg-page:#E5E5E5;
    background-color: var(--bg-page);
    
    background-image: url(../IMG/Rectangle\ 67.png);
    background-repeat: no-repeat,no-repeat;
    background-size: 50%, 50%;
    background-position: right top, left  top;
    
}

header > nav > ul{
    color: white;
    list-style: none;
    justify-content: space-between;
    display: flex;
    width: 30%;
    margin: 3% 3% auto auto;
    font-weight: bold;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}


header > nav > ul > li:hover{
    transition: 1s all;
    background-color: white;
    color: black;
    border-radius: 7px;
    padding: 7px;
}

.apresetetion-me{
    margin: 10% auto auto 20%;
    
}

.apresetetion-me>h3{
    color: gray;
    
}

/* .retangle-67{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: -2%;
    
    background: #000000;
    transform: rotate(8deg); 
   
} */


