*{
    margin: 0;
    box-sizing: border-box;
}

body{
    /* --bg-page:#E5E5E5;
    background-color: var(--bg-page);
    
    background-image: url(../IMG/Rectangle\ 67.png);
    background-repeat: no-repeat,no-repeat;
    background-size: 50%, 50%;
    background-position: right top, left  top; */
    font-family: 'Roboto', sans-serif;
    background-image: url(../IMG/reto.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

a{
    text-decoration: none;
    color: black;
}

.header{
    
    width: 40%;
    float: top;
    margin: 3% auto auto 60%;
    
}

.header > nav > ul{
    color: white;
    list-style: none;
    justify-content: space-between;
    display: flex;
    margin: auto 3% auto auto;
    font-weight: bold;
    font-size: 18px;
    padding: 7px;
    cursor: pointer;
}

.header > nav > ul> li{
    padding: 7px;
    font-weight: bold;
}


.header > nav > ul > li:hover{
    transition: 1s all;
    background-color: white;
    color: black;
    border-radius: 7px;
    font-weight: bold;
}

.apresetetion-me{
    /* margin: 10% auto auto 20%; */
    /* background-color: red; */
    /* width: 20%; */
    width: fit-content;
    margin: 10%;
    position: absolute;
    font-size: 30px;
}

.apresetetion-me>h3{
    color: gray;
    
}

.show-me{
    
    position: fixed;
    bottom: 0;
    right: 0;
}

.show-me> img{
    height: 500px;
    
}

.social-media{
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.social-media > button>img{
    width: 50px;
    height: 50px;
    
}

/* .social-media > button:last-child{
    float: center;
} */


/* .retangle-67{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: -2%;
    
    background: #000000;
    transform: rotate(8deg); 
   
} */


