*{
    margin: 0;
    box-sizing: border-box;
}

body{
    /* --bg-page:#E5E5E5;
    background-color: var(--bg-page);
    
    background-image: url(../IMG/Rectangle\ 67.png);
    background-repeat: no-repeat,no-repeat;
    background-size: 50%, 50%;
    background-position: right top, left  top; */

    background-image: url(../IMG/reto.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header{
    
    width: 40%;
    float: top;
    margin: 3% auto auto 60%;
}

.header > nav > ul{
    color: white;
    list-style: none;
    justify-content: space-between;
    display: flex;
    margin: auto 3% auto auto;
    font-weight: bold;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}

.header > nav > ul> li{
    padding: 7px;
}


.header > nav > ul > li:hover{
    transition: 1s all;
    background-color: white;
    color: black;
    border-radius: 7px;
    
}

.apresetetion-me{
    margin: 10% auto auto 20%;
    
}

.apresetetion-me>h3{
    color: gray;
    
}

.show-me{
    float: right; 
    
}

.show-me> img{
    height: 400px;
    position: block;
    margin: auto auto auto auto;
}

/* .retangle-67{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: -2%;
    
    background: #000000;
    transform: rotate(8deg); 
   
} */


