*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;


}

.header{  
    width: 100%;
    background-color: #000000;
}

.header > nav > ul{
  width: 40%;
}

.header > nav > ul{
    color: white;
    list-style: none;
    justify-content: space-between;
    display: flex;
    margin: auto 3% auto auto;
    font-weight: bold;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}

.header > nav > ul> li{
    padding: 7px;
    font-weight: bold;
}


.header > nav > ul > li:hover{
    transition: 1s all;
    background-color: white;
    color: black;
    border-radius: 7px;
    font-weight: bold;
}

main{
    margin: 3% auto 3% auto;
    width: 70%;
    /* background-color: blue; */
}

.retangle-info >h1{
   
    padding: 5px;
    border-color: blue;
    border-style: solid;
}