*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;

}

a{
    text-decoration: none;
    
}


p{
    margin: 7% auto 7% auto;
    line-height: 1.5;
    text-align:center;
}

.header{  
    width: 100%;
    background-color: #000000;
}

.header > nav > ul{
  width: 40%;
}

.header > nav > ul{
    color: white;
    list-style: none;
    justify-content: space-between;
    display: flex;
    margin: auto 3% auto auto;
    font-weight: bold;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}

.header > nav > ul> li{
    padding: 7px;
}

.header > nav > ul> li > a{
    padding: 7px;
    font-weight: bold;
    color: white;
}


.header > nav > ul > li > a:hover{
    transition: 1s all;
    background-color: white;
    color: black;
    border-radius: 7px;
    font-weight: bold;
}

main{
    margin: 3% auto 3% auto;
    width: 70%;
    /* background-color: blue; */
}

.retangle-info{
    width: fit-content; /*make the border or div has auto ajust the size*/
    padding: 30px;
    /* border: size style color; */
    border: 5px solid black;
    margin: auto;
}

.retangle-info>h1{
    font-weight: bold;
}

.separatorBlack> img{
    margin: 10% auto 7% auto;
    display: flex;
}

/* My zones */

.minhas-areas{
    display: flex;
    justify-content: space-between;
    
}

.minhas-areas{
    
}

.dev{
   
}

.icon-name{
    display: flex;
}

.icon-name > img{
    position: absolute;
}
.icon-name > h3{
    position: relative;
    margin: 20px auto auto 35px;
    bottom: 0;
}

.info{
    position: absolute;
    width: 30%;
}

.info > p{
    margin-left: 20px;
}