$corDeFundo: #D7D7D7;

*{
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: $corDeFundo;
    
}


a{
    text-decoration: none;
    color: black;
}

.home{
    background-image: url(../IMG/Hero.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    background-color: #1D1D1D;

    .bodyHome{
        display: flex;
        div{
            height: 80vh;
            width: 50%;
            div{
                margin: 10.56rem auto;
                
                
                h2{
                    margin-bottom: 1rem;
                }
                h3{
                    color: gray;
                }
                
            }

        }
  
        nav{
            position: absolute;
            color: white;
            right: 20rem;
            top: 1rem;
            width: 40%;
            right: auto;

            ul{
                justify-content: space-between;
                display: flex;
                justify-content: space-between;
                
                li{
                    padding: 0.5rem;
                    cursor: pointer;
                }
            }
        }

        .showMe{
            
            background-image: url('../IMG/protfiINM.jpg');
            background-repeat: no-repeat;
            background-size: cover;

            border: solid;
            border-radius: 2rem;
            border-color: white;

            height: 25rem;
            overflow: hidden;
            
        }
        
    }

    .footerHome{
        background: linear-gradient(90.18deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
        
        bottom: 0;
        height: 20vh;
        width: 100%;

        color: white;
        
        div{
            padding: 2rem;
            
            p ,h3{
                padding-bottom: 2rem;
            }

            button{
                border: none;

                background-color: transparent;

                color: white;

                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}

.aboutMe{
    height: 100vh;
    width: 80%;
    margin: auto;

    .apresentacao{
        margin-top: 10vh;
        text-align: center;

        .sobre{
            border-style: solid;
            

            height: 6.68rem;
            width: 25.25rem;
            margin: auto;
            margin-bottom: 3rem;
            text-align: center;

        }

        .text{

        }
    }
}

.header{
    
    width: 40%;
    float: top;
    margin: 3% auto auto 60%;
    
}

@mixin hover($corDeFundo, $corDaLetra) { // :hover elements
    background-color: $corDeFundo;
    color: $corDaLetra;
    transition: 1s all;
}

 nav > ul > li:hover{
    @include hover(white, black);
    border-radius: 7px;
    font-weight: bold;

}

.apresetetion-me{
    width: fit-content;
    margin: 10%;
    position: absolute;
    font-size: 30px;
}

.apresetetion-me>h3{
    color: gray;
    
}

.show-me{
    
    position: fixed;
    bottom: 0;
    right: 0;
}

.show-me> img{
    height: 500px;
    
}

.social-media{
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.social-media > button>img{
    width: 50px;
    height: 50px;
    
}